name: "build-test"
on:
  push:
    paths-ignore:
      - "**/*.md"

  schedule:
    # Daily 5am australian/brisbane time (7pm UTC)
    - cron: "0 19 * * *"

  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    # https://github.com/dorny/test-reporter/issues/168
    permissions:
      statuses: write
      checks: write

    steps:
      - uses: actions/checkout@v3

      - name: Setup node 20
        uses: actions/setup-node@v3
        with:
          node-version: 20.19.5

      - name: Install package dependencies
        run: npm install

      - name: Compile and run tests
        run: npm run all

      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: JEST Tests
          path: "reports/jest-*.xml"
          reporter: jest-junit

  test-matrix:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - macos-latest
          - windows-latest
          - windows-11-arm

    steps:
      - uses: actions/checkout@v3

      - name: Install Octopus CLI
        uses: ./
        with:
          version: latest

      - name: Check Octopus CLI version
        run: octopus version
